<!DOCTYPE html>
<html>
<head>
    <title>Born to code! </title>
    <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/favico.ico")">
    <meta charset="utf-8" />
    <link href="~/Scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/textAngular/textAngular.css" rel="stylesheet"/>


    <script src="~/Scripts/jquery/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/angular/base/angular.min.js"></script>
    <script src="~/Scripts/angular/route/angular-route.min.js"></script>
    <script src="~/Site/Core/guid.js"></script>
    <script src="~/Site/Core/Services/localStorageService.js"></script>
    <script src="~/Scripts/textAngular/textAngular-rangy.min.js"></script>
    <script src="~/Scripts/textAngular/textAngular-sanitize.min.js"></script>
    <script src="~/Scripts/textAngular/textAngular.min.js"></script>
    <script src="~/Scripts/textAngular/textAngularSetup.js"></script>

    <script src="~/Site/app.js"></script>
    <script src="~/Site/routing.js"></script>
    <script src="~/Site/Core/Services/messageService.js"></script>
    <script src="~/Site/Core/Services/articlesRepository.js"></script>
    <script src="~/Site/Articles/articlesController.js"></script>
    <script src="~/Site/Article/articleController.js"></script>
    <script src="~/Site/NewOrEdit/newOrEditController.js"></script>
</head>
<body ng-app="bornToCode">
    <div ng-include="'Site/SmallParts/Navbar.html'"></div>
    <div class="row">
        <div class="col-xs-0 col-sm-1"></div>
        <div class="col-xs-12 col-sm-10">
            <div ng-view></div>
        </div>
    </div>
</body>
</html>
