<!DOCTYPE html>
<html>
<head>
    <title>Born to code! </title>
    <meta charset="utf-8" />
    <link href="~/Scripts/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/angular/material/angular-material.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Scripts/textAngular/textAngular.css" rel="stylesheet" />

    <script src="~/Scripts/jquery/jquery-3.1.1.js"></script>
    <script src="~/Site/Core/Services/localStorageService.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.js"></script>
    <script src="~/Scripts/angular/base/angular.js"></script>
    <script src="~/Scripts/moment/moment.js"></script>
    <script src="~/Scripts/angular/material/angular-animate.js"></script>
    <script src="~/Scripts/angular/material/angular-aria.js"></script>
    <script src="~/Scripts/angular/material/angular-material.js"></script>
    <script src="~/Scripts/angular/route/angular-route.js"></script>    
    <script src="~/Site/Core/guid.js"></script>
    <script src="~/Scripts/textAngular/textAngular-rangy.min.js"></script>
    <script src="~/Scripts/textAngular/textAngular-sanitize.js"></script>
    <script src="~/Scripts/textAngular/textAngular.js"></script>
    <script src="~/Scripts/textAngular/textAngularSetup.js"></script>

    <script src="~/Site/app.js"></script>
    <script src="~/Site/routing.js"></script>
    <script src="~/Site/Core/Services/messageService.js"></script>
    <script src="~/Site/Core/Services/articlesRepository.js"></script>
    <script src="~/Site/Articles/articlesController.js"></script>
    <script src="~/Site/Article/articleController.js"></script>
    <script src="~/Site/NewOrEdit/newOrEditController.js"></script>
</head>
<body ng-app="bornToCode">
<div ng-include="'Site/SmallParts/Navbar.html'"></div>
    <div class="row">
        <div class="col-xs-0 col-sm-2"></div>
        <div class="col-xs-12 col-sm-8">
            <div ng-view></div>
        </div>
        <div class="col-xs-0 col-sm-2"></div>
    </div>
</body>
</html>
