.article {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-radius: 5px;
    padding: 5px;
}

.article:hover {
    background-color: #d3d3d3;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.main-title {
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 20px;
}

hr {
    margin: 0px;
    background-color: grey;
    height: 1px;
    border: 0;
}
