<link href="../../Content/Articles/articles.css" rel="stylesheet"/>
<div class="row">
    <div class="col-xs-12 centered main-title">
        <p class="smallHeadline">No ads, just code</p>
        <p class="largeHeadline">Programming for heroes</p>
    </div>
</div>
<div class="col-xs-12 articles-container">
    <div ng-repeat="article in articles | orderBy: '-datePublished'">
        <div class="article" ng-click="onSelectedArticle(article)">
            <h3 class="articleTitle">{{article.title}}</h3>
            <p class="articleContent">{{article.resume}}</p>
        </div>
        <hr/>
    </div>
</div>