.article {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
}

    .article:hover {
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        padding-left: 60px;
        font-weight: 900;
    }

.main-title {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}

hr {
    margin: 0px;
    background-color: grey;
    height: 1px;
    border: 0;
}

.smallHeadline {
    font-family: Gill Sans, Verdana;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.largeHeadline {
    font-family: times, Times New Roman, times-roman, georgia, serif;
    color: #444;
    margin: 0;
    padding: 0px 0px 6px 0px;
    font-size: 51px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
}

.hvr-underline-from-left{
    cursor: pointer;
}