<link href="../../Content/NewOrEdit/newOrEdit.css" rel="stylesheet" />
<div class="row">
    <div class="row">
        <div class="small-margin-botton">
            <div class="col-sm-6">
                <label>Token</label>
                <input type="text" class="form-control" ng-model="token"/>
            </div>
            <div class="col-sm-6">
                <label>Title</label>
                <input type="text" class="form-control" ng-model="article.title"/>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="small-margin-botton">
            <div class="col-sm-12">
                <label>Resume</label>
                <input type="text" class="form-control" ng-model="article.resume" />
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="col-sm-12">
        <div text-angular ng-model="article.content"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2 col-sm-offset-5">
            <input type="button" class="btn btn-primary btn-lg small-margin-top" ng-click="save()" value="Save" />
        </div>
    </div>
</div>