small-margin-botton {
  margin-bottom: 20px;
}
small-margin-top {
  margin-top: 20px;
}
.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
  margin: 20px 0;
}
